.alert {
  --link-color: #{$light};

  position: fixed;
  inset: 0 0 auto 0;
  z-index: z-index(header) + $z-index-step;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: rem(10) var(--container-gutter);

  font-weight: 400;
  font-size: rem(12);
  line-height: rem(16);
  color: $tertiary;

  min-height: var(--alert-height,rem(40));

  background: $dark;
  opacity: 0;
  transform: translateY(-100%);
  transition: $transition-default;

  &.--is-show {
    transform: none;
    opacity: 1;
  }

  &__wrap {
    display: grid;
    grid-auto-flow: column;
    grid-gap: rem(32);
    align-items: center;

  }

  &__warn {
    display: inline-flex;
    align-items: center;
    gap: rem(4);

    color: $secondary;
    font-weight: bold;
  }

  &__item {

  }

  &__close {
    position: absolute;
    top: 50%;
    right: rem(20);

    font-size: rem(14);

    transform: translateY(-50%);

    @include only-mouse {
      &:hover {
        color: $secondary;
      }
    }
  }

}
