.blog {
  display: grid;
  grid-gap: rem(48);

  padding: 0 0 rem(73);

  &__tags, &__aside {
    display: none;
  }

  @include min-wide(tablet) {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: rem(40) rem(48);

    &__top {
      grid-area: 1/12 span;
    }

    &__tags {
      display: unset;
      grid-area: 2 / 12 span;
    }

    &__posts {
      grid-area: 3 / 9 span;
    }

    &__aside {
      display: unset;
      grid-area: 3 / 3 span;
    }
  }
}
