.posts {
  --caption-margin: #{rem(40)};

  padding: 0 rem(60) 0 0;

  border-right: rem(1) solid $border-color;

  &__list {
    display: grid;
    grid-gap: rem(30);
  }
  &__foot {
    display: flex;
    justify-content: center;
    margin: rem(40) 0 0;
  }
}
