.pimp-paln
  .container
    .pimp-paln__content
      .pimp-paln__capt Sign up today – 7 day money back guarantee

      .pimp-paln__items
        .pimp-paln__item

      .pimp-paln__payments
        .pimp-paln__logos

      .pimp-paln__links
        a.pimp-paln__link How to pay anonymously
        a.pimp-paln__link redeem gift card
