article.alert
  .alert__content
    .alert__warn You are not protected
    .alert__item Your IP Address: 107.3.176.194
    .alert__item Your ISP: Comcast Cable
    a.alert__link(href='/') Learn More ›


