aside.aside
  include search
  .aside__item
    haader.aside__item-head
      i.gli-notif
      | Announcements
    .aside__item-content
      a.aside__item-link Upcoming Changes (Live Chat, Less Censorship, More Access)
      a.aside__item-link New Servers (US Washington DC)
      a.aside__item-link New Servers (US Denver)
      a.aside__item-link Open Source: Releasing the PIA iOS Client
      a.aside__item-link Opera Extension is now available

  .aside__item
    haader.aside__item-head
      i.gli-wave
      | Popular posts
    .aside__item-content
      a.aside__item-link The Gift of Privacy
      a.aside__item-link UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
      a.aside__item-link About the PIA Client Security and VPN Security in General
      a.aside__item-link A Private Net Is Just As Fundamental A Right As Freedom Of Speech
      a.aside__item-link Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie

  .aside__item
    picture.aside__item-pic
      img(src="../../assets/images/aside-img.jpg" alt='')

  .aside__item
    header.aside__item-head.--mrg-b
      | Tag cloud
    include tag-cloud
