div.consent.--hide
  .consent__main
    mark=CONSENT_CAPT
    .consent__text=CONSENT_TEXT
      a(href='https://newsurrogacy.com/privacy-policy' target="_black")=CONSENT_LINK
  button.consent__btn(type='text')=CONSENT_BTN
