footer.footer
  .container
    .footer__top
      include ../ui/_logo

    .footer__main
      .footer__item
        .footer__capt COMPANY
        a.footer__link(href="") About Us
        a.footer__link(href="") Our Team
        a.footer__link(href="") Careers
        a.footer__link(href="") Press
        a.footer__link(href="") In the Media
        a.footer__link(href="") VPN Reviews
        a.footer__link(href="") Companies We Support
        a.footer__link(href="") Contact Us
        a.footer__link(href="") Blog

      .footer__item
        .footer__capt PROGRAMS
        a.footer__link(href="") Whitehat Security
        a.footer__link(href="") Affiliates

      .footer__item.--offset-top
        .footer__capt LEARN MORE
        a.footer__link(href="") VPN Encryption
        a.footer__link(href="") Android VPN App
        a.footer__link(href="") iOS VPN App
        a.footer__link(href="") PIA Sitemap

      .footer__item
        .footer__capt LEGAL
        a.footer__link(href="") Terms Of Service
        a.footer__link(href="") Privacy Policy
        a.footer__link(href="") DMCA Policy
        a.footer__link(href="") Export Control Policy

      .footer__item
        .footer__capt ABOUT
        p
          | Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+ regions.
          br
          br
          span
            | Map data provided by Google.
            br
            br
            | PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
            br
            | PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
            br
            br
            | © London Trust Media, Inc. All Rights Reserved.

      .footer__item.--soc
        .footer__capt SOCIAL
        a.gli-soc-fb(href='https://facebook.com' target='_blank')
        a.gli-soc-tw(href='' target='_blank')
        a.gli-soc-gp(href='' target='_blank')
        a.gli-soc-ln(href='' target='_blank')
        a.gli-soc-ts(href='' target='_blank')
        a.gli-soc-yt(href='' target='_blank')
