section.pimp-paln
  .container
    .pimp-paln__capt Sign up today – 7 day money back guarantee

    .pimp-paln__items
      .pimp-paln__item
        .pimp-paln__item-capt MONTHLY
        .pimp-paln__item-price 6.95
        .pimp-paln__item-desc Includes all VPN features.
        +button('SIGN UP', '--line --mw-205')

      .pimp-paln__item.--select
        .pimp-paln__item-capt Two Years
        .pimp-paln__item-price 2.91
        .pimp-paln__item-desc
          span $166.80
          | $69.95 per two years
          br
          b Save 58%*

        +button('SIGN UP','--mw-205')

      .pimp-paln__item
        .pimp-paln__item-capt YEARLY
        .pimp-paln__item-price 6.95
        .pimp-paln__item-desc Includes all VPN features.
        +button('SIGN UP','--line --mw-205')

    .pimp-paln__payments
      mark Ways to pay:
      figure.pimp-paln__logos
        img(src='../../assets/images/visa.svg')
        img(src='../../assets/images/ms.svg')
        img(src='../../assets/images/amex.svg')
        img(src='../../assets/images/paypal.svg')
        img(src='../../assets/images/bitcoin.svg')
        img(src='../../assets/images/okpay.svg')
        img(src='../../assets/images/amason.svg')

    .pimp-paln__links
      a.pimp-paln__link How to pay anonymously
      a.pimp-paln__link redeem gift card
