section.tags
  mark.tags__left TAGS:

  .tags__links
    a.tags__tag(href='/') bitcoin
    a.tags__tag(href='/') bittorrent
    a.tags__tag(href='/') irc
    a.tags__tag(href='/') news
    a.tags__tag(href='/') privacy
    a.tags__tag(href='/') programming
    a.tags__tag(href='/') security

  a(href='/') team
  a(href='/') contact
