%position-full {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%glob-animation-to-up {
  --in-transform-transform-start: translate(0, 10vh);
  --in-transform-transform-end: translate(0, 0);

  animation: var(--glob-animation-prop, in-transform) $transition-start-delay $transition-start-duration $transition-function 1 forwards;
  //animation-play-state: $global-animation-state;
}
