extends ../includes/root.pug

block append core
  -
    var META_TITLE = '404 Page Not Found'
    var META_DESCRIPTION = 'New Hope - surrogacy agency in Ukraine, New Hope provides an exclusive service to our clients based on attention to details, individual approach, professionalism, experience and care.'
    var headerClass = '--while'

block content
  include ../includes/components/not-found
