extends ../includes/root.pug

block content
  .container
    swction.blog
      artcile.blog__top
        include ../includes/components/featured
      artcile.blog__tags
        include ../includes/components/tags
      article.blog__posts
        include ../includes/components/posts
      article.blog__aside
        include ../includes/components/aside
  swction.pimp-paln


