extends ../includes/root.pug

block content
  .container
    section.blog
      artcile.blog__top
        include ../includes/components/featured
      artcile.blog__tags
        include ../includes/components/tags
      article.blog__posts
        include ../includes/components/posts
      article.blog__search
        include ../includes/components/search
      article.blog__aside
        include ../includes/components/aside

  include ../includes/components/pimp-paln
