.button {
  @extend %glob-animation-to-up;

  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: rem(16);
  text-transform: uppercase;

  border-radius: rem(50);

  transition: .5s linear;
  transition-property: background-color, border-color, color, transform;

  &:not(.--line) {
    position: relative;

    min-height: rem(40);

    margin: 0 0 rem(6) rem(9);
    padding: rem(14) rem(35);

    color: var(--button-color, $light);

    background: var(--button-background, linear-gradient(0deg, $primary 0%, $primary-dark 100%));

  }

  &.--line {
    min-height: rem(48);

    padding: rem(14) rem(40);

    color: var(--button-color, currentColor);

    background: var(--button-background, transparent);
    box-shadow: inset rem(0) rem(0) 0 rem(1) $primary ;
  }

  &.--light {
    --button-background: #{$light} !important;

    color: $primary;;
  }

  @include only-mouse {
    &:hover {
      --button-offset-right: #{rem(-9)};
      --button-offset-left: 0;
      --button-background: #{$primary-dark}
    }

    &:active {
      transform: translate(0, rem(8));
    }

    &.--line {
      &:hover {
        --button-background: var(--button-hover-background, #{transparent});
        --button-color: var(--button-hover-color, #{$primary});
      }
    }
  }
}
