// global
-
  var
          lang = 'en',
          META_TITLE = '',
          META_DESCRIPTION = '',
          META_KEYWORDS = '',
          META_CREATOR = '',

          // header
          HEADER_MENU = [
            {
              link: '/why_us',
              name: 'Why Us',
              subMenu: [
                {
                  link: '/sub-menu-item',
                  name: 'item 1',
                },
                {
                  link: '/sub-menu-item',
                  name: 'item 2',
                },
                {
                  link: '/sub-menu-item',
                  name: 'item 3',
                }
              ],
              target: false,
            },
            {
              link: '/vpn_apps',
              name: 'VPN APPS',
              subMenu: null,
              target: false,
            },
            {
              link: '/support',
              name: 'Support',
              name: 'Why Us',
              subMenu: [
                {
                  link: '/sub-menu-item',
                  name: 'item 1',
                },
                {
                  link: '/sub-menu-item',
                  name: 'item 2',
                },
                {
                  link: '/sub-menu-item',
                  name: 'item 3',
                }
              ],
              target: false,
            },
            {
              link: '/resources',
              name: 'Resources',
              name: 'Why Us',
              subMenu: [
                {
                  link: '/sub-menu-item',
                  name: 'item 1',
                },
                {
                  link: '/sub-menu-item',
                  name: 'item 3',
                },
                {
                  link: '/sub-menu-item',
                  name: 'item 3',
                }
              ],
              target: false,
            },
          ]
